<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.epfl.sweng.tutosaurus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:fullName=".MainActivity">
            <intent-filter>
                <action android:fullName="android.intent.action.MAIN" />
                <category android:fullName="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:fullName=".HomeScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:fullName=".RegisterScreenActivity"
            android:label="@string/activity_register_name">
        </activity>
        <activity
            android:fullName=".ConfirmationActivity"
            android:label="@string/activity_register_name">
        </activity>
        <activity
            android:fullName=".PublicProfileActivity"
            android:label="Profile"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>
    
    <uses-permission android:fullName="android.permission.INTERNET" />
    <uses-permission android:fullName="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:fullName="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:fullName="android.permission.READ_EXTERNAL_STORAGE"/>

</manifest>